
      <div class="image-row">

            <div class="image-container">
                <img src="https://cdn-icons-png.flaticon.com/512/6192/6192548.png" width="256" height="256" alt="" title="" class="img-small">
                <svg class="overlay-svg" width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                  <text x="100" y="110" text-anchor="middle" font-size="50" font-family="serif" fill="black">X</text>
                </svg>
              </div>


        <div class="image-container">
            <img src="https://cdn-icons-png.flaticon.com/512/6192/6192548.png" width="256" height="256" alt="" title="" class="img-small">
            <svg class="overlay-svg" width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
              <text x="100" y="110" text-anchor="middle" font-size="50" font-family="serif" fill="black">XII</text>
            </svg>
          </div>
    
 
      <div class="image-container">
        <img src="https://cdn-icons-png.flaticon.com/512/6192/6192548.png" width="256" height="256" alt="" title="" class="img-small">
        <img src="   https://cdn-icons-png.flaticon.com/512/5404/5404967.png " width="256" height="256" alt="" title="" class="inner-img">
      </div>
      
    </div>

   
  

     
 
     
     


  