
    <mat-card>
      <div >
        <!-- SVG Icon for 10th -->
        <svg> <!-- Your 10th icon SVG here --> </svg>
      </div>
      <div >
        <h6>10th Grade</h6>
        <p>Details about 10th grade education</p>
      </div>
    </mat-card>
  
    <mat-card>
      <div >
        <!-- SVG Icon for 12th -->
        <svg> <!-- Your 12th icon SVG here --> </svg>
      </div>
      <div>
        <h6>12th Grade</h6>
        <p>Details about 12th grade education</p>
      </div>
    </mat-card>
  
    <mat-card>
      <div>
        <!-- SVG Icon for College -->
        <svg> <!-- Your College icon SVG here --> </svg>
      </div>
      <div >
        <h6>College</h6>
        <p>Details about college education</p>
      </div>
    </mat-card>


  